<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} %-5level %logger{36} - %msg%n"/>
		</Console>
		<File name="ImportErrors" fileName="import-errors.log">
			<PatternLayout pattern="%m%n"/>
		</File>    
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" level="trace"/>
			<AppenderRef ref="ImportErrors" level="error"/>
		</Root>
	</Loggers>
</Configuration>