<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss} - %msg%n"/>
		</Console>		
		<File name="ImportProblems" fileName="jdt2famix-import.problems" append="false">
			<PatternLayout pattern="%m%n"/>
		</File>
	</Appenders>
	<Loggers>
		<Root level="trace">
			<AppenderRef ref="Console" level="trace"/>
			<AppenderRef ref="ImportProblems" level="error"/>
		</Root>
	</Loggers>
</Configuration>